# speech to text and text to speech
realtimestt==0.3.104
realtimetts[kokoro,coqui,orpheus,elevenlabs]==0.5.5
anthropic>=0.40.0

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv
pyyaml

# llm providers
ollama
openai